---
layout: main
section: home
title: "N & E"
fullTitle: "N & E"
nav: false
---

<header class="hero">
    <img eleventy:ignore src="fall-2024-silhouette.jpg" alt="photo of Nathan, Erin, and baby Nathan">
</header>
<main>
    <h1>Nathan and Erin Friedly</h1>
    <p>Hi, and God bless! You can email both of us at <a class="oneline" data-address="both">["both" at this website]</a> or reach us individually at the options below.</p>

    <div class="row">
        <div class="col-md-6">
            <h2>Erin:</h2>
            <ul class="links" data-address="erin">
                <li><a href="http://instagram.com/lollibows"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/BrillyantColors"><i class="fa-brands fa-facebook-square"></i></a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Nathan:</h2>
            <ul class="links" data-address="nathan">
                <li class="text"><a href="http://nfriedly.com"><i class="fa fa-home"></i>nfriedly.com</a></li>
                <li><a href="http://instagram.com/nfriedly"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/nfriedly"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li><a href="https://mastodon.social/@nfriedly"><i class="fa-brands fa-mastodon"></i></a></li>
                <li><a href="https://news.ycombinator.com/user?id=nfriedly"><i class="fa-brands fa-y-combinator"></i></a></li>
            </ul>
        </div>
    </div>

    <hr>
    
    <div class="row">
        <div class="col-md-6">
    <section class="posts">
        <h2>Recent Poetry &amp; Art</h2>
        {% for post in collections.art | recentReviews(2) %}
            {% include "partials/piece-card.njk" %}
        {% endfor %}
        
        {% for post in collections.poetry | recentReviews(2) %}
            {% include "partials/piece-card.njk" %}
        {% endfor %}
        <p><a href="/poetry/">Browse poetry &raquo;</a> &nbsp; <a href="/art/">Browse art &raquo;</a></p>
    </section>
    </div>
    
        <div class="col-md-6">
    <section class="posts">
        <h2>Recent Reviews</h2>
        {% for post in collections.bookReviews | recentReviews(2) %}
            {% set showBoth = false %}
            {% include "partials/review-card.njk" %}
        {% endfor %}
        {% for post in collections.reviews | featuredReviews(2) %}
            {% set showBoth = false %}
            {% include "partials/review-card.njk" %}
        {% endfor %}
        <p><a href="/reviews/">Browse product reviews &raquo;</a> &nbsp; <a href="/book-reviews/">Browse book reviews &raquo;</a></p>
    </section>
      </div>
</div>
</main>