{% set purchasedNote = (source == 'purchase' or source == 'purchased') and not (tags is defined and 'book-review' in tags) %}
{% set vineNote = source == 'vine' %}
{% set affiliateNote = hasAmazonLinks(product, originalUrl) %}
{% if customDisclaimer %}
<p class="disclosure">
    {{ customDisclaimer }}
</p>
{% elif purchasedNote or vineNote or affiliateNote %}
<p class="disclosure">
    Disclaimer:
    {% if purchasedNote %}
        This product was purchased with my own money.
    {% elif vineNote %}
        This product was provided to me through the Amazon Vine program solely for my honest review. No money exchanged hands either way.
    {% endif %}
    {% if affiliateNote %}
        Some links use affiliate codes - it earns me a small percentage and costs you nothing.
    {% endif %}
</p>
{% endif %}